<div class="big-card_container">
    <div class="big-card_photo">
        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/318950/capsule_616x353.jpg?t=1571776898" 
        alt="PlaceHolder"
        height="250px"
        >
    </div>
    <div class="big-card_title">
        <h1><a href="#">Why you should watch Tangled?</a></h1>
    </div>
    <div class="big-card_description">
        <p>
            <a>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived
                not only five centuries, but also the leap into electronic 
                typesetting, remaining essentially unchanged.
            </a>
        </p>
    </div>
</div>
