.small-card_container {
    margin-bottom: 15px;
}
.small-card_container_content {
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.small-card_photo {
    margin-right: 30px;  
    display: flex; 
    align-items: center;
}

.small-card_photo img {
    max-width: 100%;
    max-height: 100%;
}

.small-card_title {
    display: flex;
    align-items: center;
}

.small-card_title h1 {
    font-size: 16px;
}

.small-card_hr {
    margin-top: 10px;
}

