<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles_container">
    <div class="articles_main">
        <app-big-card
            photoCover="https://cdn.cloudflare.steamstatic.com/steam/apps/318950/capsule_616x353.jpg?t=1571776898"
            cardTitle="Why you should watch Tangled?"
            cardDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
        ></app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>
